@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-[1200px] mx-auto px-3;
  }

  .sectionHeading {
    @apply text-xl md:text-4xl text-secondary font-semibold mb-2 text-center;
  }

  .sectionPara {
    @apply text-[1rem] md:text-lg text-secondary mb-2;
  }

  .underline-custom::after {
    @apply block w-full h-2 bg-primary mt-3;
    content: "";
  }
}

@layer utilities {
  @screen xs {
    .satisfaction-tabs [data-slot="tabList"] {
      @apply flex-row flex-wrap border-none px-[20px] py-[0px] min-h-[100px] rounded-none !important;
    }
    .satisfaction-tabs [data-slot="tab"] {
      @apply w-[30%];
    }
    .cardBox {
      width: 290px !important;
      height: 290px !important;
    }
    .flip-card {
      width: 320px !important;
      height: 320px !important;
    }
    .account-swiper-carousel .swiper-slide {
      width: 320px !important;
    }
  }
}

.tabs_custom div {
  flex-wrap: wrap !important;
  justify-content: center !important;
  background: transparent !important;
}

.tabs_custom div button {
  width: fit-content;
}

.swiper-pagination {
  position: relative !important;
  padding-top: 1rem;
}

.swiper-pagination-bullet-active {
  background: gray !important;
  border: 1px solid #000;
}

.dropbtn {
  align-items: center;
  justify-content: center;
  display: flex;
  color: #000;
  padding: 10px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.arrow {
  transition: transform 0.3s ease;
}

.dropdown:hover .arrow {
  transform: rotate(180deg);
}

.active_link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  font-weight: 800;
}

.rotatableIcon {
  transition: transform 1s ease;
  /* Smooth transition for rotation */
}

.rotated {
  transform: rotate(180deg);
  /* Rotate the icon 180 degrees when 'rotated' class is applied */
}

/* Flip Card */
.flip-card {
  background-color: transparent;
  width: 254px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  background: #3f3f3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fcs-brand {
  display: none !important;
}

.flip-card-back {
  background: #3f3f3e;
  color: #ffd000;
  transform: rotateY(180deg);
}

/*End Of Flip Card */

/*Begin Of Home_swiper*/

.home_swiper .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
}

.home_swiper .swiper-slide {
  width: 400px;
  height: 500px;
  filter: blur(3px);
}
.home_swiper .swiper-slide-active {
  filter: blur(0px);
}

.home_swiper .swiper-button-next {
  color: #ffd000;
  background: transparent;
}
.home_swiper .swiper-button-prev {
  color: #ffd000;
  background: transparent;
}

/*End of home_swiper*/

.account-swiper-carousel .swiper {
  padding-top: 50px;
  padding-bottom: 150px;
}

.account-swiper-carousel .swiper-slide {
  width: 400px;
  min-height: 582px;
  filter: blur(3px);
  background: #3e403c;
  border-radius: 24px;
}

.account-swiper-carousel .swiper-slide-active {
  filter: blur(0px);
}

.account-swiper-carousel .swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-account-title-box {
  background: linear-gradient(to bottom, #585857 0%, #2d292a 50%, #231f20 100%);
}

.swiper-account-angle {
  z-index: -1;
  border-left: 76px solid transparent;
  border-right: 76px solid transparent;
  border-top: 35px solid #231f20;
}

.swiper-account-box {
  background: linear-gradient(
    to bottom,
    #565655 10%,
    #373435 50%,
    #323030 100%
  );
}

.account-swiper-carousel .swiper-slide-next {
  transform: translate3d(0px, 0px, -354px) rotateX(0deg) rotateY(0deg) scale(1) !important;
}

.account-swiper-carousel .swiper-slide-prev {
  transform: translate3d(0px, 0px, -354px) rotateX(0deg) rotateY(0deg) scale(1) !important;
}

.account-swiper-carousel .swiper-button-next,
.account-swiper-carousel .swiper-button-prev {
  background: linear-gradient(to right, #585857 0%, #2d292a 100%);
  width: 44px;
  height: 44px;
}

.account-swiper-carousel .swiper-button-next svg,
.account-swiper-carousel .swiper-button-prev svg {
  width: 20px;
}

.account-swiper-carousel .swiper-button-next::after,
.account-swiper-carousel .swiper-button-prev::after {
  display: none !important;
}

.satisfaction-tabs [data-slot="tabWrapper"] {
  display: flex !important;
  justify-content: center !important;
}

.satisfaction-tabs [data-slot="tabList"] {
  background-color: transparent;
  border: 1px solid #e4e5e6;
  padding: 20px 14px;
  border-radius: 24px;
  min-height: 300px;
  flex-direction: column;
  justify-content: center;
}

.satisfaction-tabs [data-slot="tab"] {
  font-size: 16px;
}

.satisfaction-tabs [data-slot="tabContent"] {
  color: #fff;
}

.satisfaction-tabs [data-slot="cursor"] {
  border-radius: 100px;
}

.PhoneInputCountry {
  margin-left: 10px !important;
}
.PhoneInputCountry svg {
  color: #e4e5e6;
}
.phone-number-input .PhoneInputCountrySelect {
  background-color: #fff;
  border: none;
  outline: none;
}
.PhoneInputInput {
  border-radius: 3px;
  color: #3f3f3e;
  outline: none;
  border: none;
  padding: 8px 16px;
  padding-left: 10px;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #f9c617;
  border-radius: 50%;
  width: 20px;
  margin: 0 auto;
  height: 20px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.academy_phoneinput {
  border-bottom: 1px solid #e4e5e6;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}
.hidden {
  display: none;
}

.cardBox {
  width: 300px;
  height: 400px;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;

  @media screen and (max-width: 678px) {
    width: 230px;
    height: 300px;
    font-size: 16px;
  }
}
.card {
  position: absolute;
  width: 99%;
  height: 99%;
  background: #3f3f3e;
  border-radius: 20px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
}
.card .my_span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: 800;
  pointer-events: none;
  opacity: 1;
}

.card .content h3 {
  font-size: 3rem;
  padding-bottom: 10px;
}
.card .content p {
  font-size: 1rem;
  line-height: 25px;
  @media screen and (max-width: "678px") {
    font-size: 14px !important;
  }
}
.card .content {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.card:hover .content {
  transform: translateY(0);
  opacity: 1;
}

.card:hover h2,
.card:hover span {
  opacity: 0;
}

.cardBox::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 150%;
  background: #40e0d0;
  background: -webkit-linear-gradient(to right, #ffd000, #ff8c00, #40e0d0);
  background: linear-gradient(to right, #ffd000, #ff8c00, #ffd000);
  animation: glowing01 5s linear infinite;
  transform-origin: center;
  animation: glowing 5s linear infinite;
}

@keyframes glowing {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cards_container .custom_card .icon {
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3f3f3e;
}

.cards_container .custom_card .icon .custom_image {
  position: absolute;
  top: 50%;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 80px;
}
.cards_container .custom_card .custom_title {
  position: absolute;
  top: 70%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  font-size: 22px;
  width: 100%;
  text-align: center;
  color: #ffd000;
  font-weight: 700;
  padding-bottom: 20px;
}
[dir="rtl"] .cards_container .custom_card .custom_title {
  top: 48%;
  left: unset;
  right: unset;
  transform: translate(0);
  position: absolute;
  font-size: 22px;
  width: 100%;
  text-align: center;
  color: #ffd000;
  font-weight: 700;
  padding-bottom: 20px;
}
.cards_container .custom_card .icon .arrow {
  position: absolute;
  top: 88%;
  right: 46%;
  animation: upAndDown 2s infinite;
}

.cards_container .custom_card .slide {
  width: 300px;
  height: 200px;
  transition: 0.5s;
  cursor: pointer;
}

.cards_container .custom_card .slide.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 0.7s;
  transform: translateY(100px);
  border-radius: 20px;
}

.cards_container .custom_card:hover .slide.slide1 {
  transform: translateY(0px);
}

.cards_container .custom_card .slide.slide2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.8s;
  transform: translateY(-100px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.cards_container .custom_card:hover .slide.slide2 {
  transform: translateY(0);
}

.cards_container .custom_card .slide.slide2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: #3f3f3e;
}

.cards_container .custom_card .slide.slide2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #3f3f3e;
  font-size: 24px;
}

.cards_container .custom_card .slide.slide2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 16px;
  text-align: center;
  color: #3f3f3e;
}
@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.dropdown:hover .dropdown-menu {
  display: block;
}

@keyframes randomMovement {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, -10px);
  }
  50% {
    transform: translate(-10px, 10px);
  }
  75% {
    transform: translate(15px, -15px);
  }
  100% {
    transform: translate(-15px, 15px);
  }
}
.animated_image {
  animation: randomMovement 10s infinite linear;
  animation-fill-mode: both;
}
.banner_swiper .swiper-pagination .swiper-pagination-bullet-active {
  background: white !important;
}

.feature-content {
  animation: fadeDown 1s ease-in-out;
  background-color: initial;
  transition: background-color 1s ease-in-out;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.feature-content-active {
  background-color: #3f3f3e;
  transition: background-color 1s ease-in-out;
}

.mt5-tabs {
  transition: background-color 0.8s ease-in-out, border-color 0.8s ease-in-out;
}

.mt5-tabs.bg-primary {
  background-color: #fccd0a; /* Replace with your primary color */
}

.mt5-tabs.bg-transparent {
  background-color: transparent;
}

.mt5-tabs.border-primary {
  border-color: #fccd0a; /* Replace with your primary color */
}

.mt5-tabs.border-secondary {
  border-color: #3f3f3e; /* Replace with your secondary color */
}

.widget-title h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -13px;
  width: 80px;
  height: 3px;
  background: #aec6ef;
}

.widget-title h2::after {
  content: "";
  position: absolute;
  left: 0;
  top: 39px !important;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #fccd0a;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: MOVE-BG;
}

@keyframes MOVE-BG {
  0% {
    left: 0px;
    top: 0px;
  }

  100% {
    left: 80px;
    top: 0px;
  }
}
@keyframes heartBeat {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}
.heart {
  animation: heartBeat 2s ease 0s infinite normal none;
}
.webinar_input input {
  background-color: #e4e5e6 !important;
}

.webinar_input {
  border-bottom: 2px solid #ddd;
  margin-top: 10px;
}
.border-red-500 {
  border-bottom: 1px solid red;
}

.navbar-accordion svg {
  font-size: 15px;
  margin-top: 2px;
}
