@tailwind base;
@tailwind components;
@tailwind utilities;

/* .navbar a{
  text-decoration: none !important;
  color: #000 !important;
}

.footer a{
  text-decoration: none !important;
  color: #fff !important;
} */
/*
.primary{
color: #FFD000 !important;
}

.white{
  color: #fff !important;
}
p{
  color: #fff !important;
} */

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-[1200px] mx-auto px-3;
  }

  .sectionHeading {
    @apply text-3xl md:text-4xl text-secondary font-semibold mb-2 text-center;
  }

  .sectionPara {
    @apply text-lg md:text-lg text-secondary mb-2;
  }

  .underline-custom::after {
    @apply block w-full h-2 bg-primary mt-3;
    content: "";
  }
}

@layer utilities {
  @screen xs {
    .satisfaction-tabs [data-slot="tabList"] {
      @apply flex-row flex-wrap border-none px-[20px] py-[0px] min-h-[100px] rounded-none !important;
    }
    .satisfaction-tabs [data-slot="tab"] {
      @apply w-[30%];
    }
  }
}

.direction_layout {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

.tabs_custom div {
  flex-wrap: wrap !important;
  justify-content: center !important;
  background: transparent !important;
}

.tabs_custom div button {
  width: fit-content;
}

.swiper-pagination {
  position: relative !important;
  padding-top: 1rem;
}

.swiper-pagination-bullet-active {
  background: gray !important;
  border: 1px solid #000;
}

.dropbtn {
  align-items: center;
  justify-content: center;
  display: flex;
  color: #000;
  padding: 10px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.arrow {
  transition: transform 0.3s ease;
}

.dropdown:hover .arrow {
  transform: rotate(180deg);
}

.active_link {
  position: relative;
  text-decoration: none;
  display: inline-block;
  font-weight: 800;
}

.rotatableIcon {
  transition: transform 1s ease;
  /* Smooth transition for rotation */
}

.rotated {
  transform: rotate(180deg);
  /* Rotate the icon 180 degrees when 'rotated' class is applied */
}

/* Flip Card */
.flip-card {
  background-color: transparent;
  width: 254px;
  height: 254px;
  perspective: 1000px;
  font-family: sans-serif;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front {
  background: #3f3f3e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fcs-brand {
  display: none !important;
}

.flip-card-back {
  background: #3f3f3e;
  color: #ffd000;
  transform: rotateY(180deg);
}

/*End Of Flip Card */

/*Begin Of Home_swiper*/

.home_swiper .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
}

.home_swiper .swiper-slide {
  width: 400px;
  filter: blur(3px);
  background: #3e403c;
}
.home_swiper .swiper-slide-active {
  filter: blur(0px);
}

/*End of home_swiper*/

.account-swiper-carousel .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 150px;
}

.account-swiper-carousel .swiper-slide {
  width: 400px;
  min-height: 620px;
  filter: blur(3px);
  background: #3e403c;
  border-radius: 24px;
}

.account-swiper-carousel .swiper-slide-active {
  filter: blur(0px);
}

.account-swiper-carousel .swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-account-title-box {
  background: linear-gradient(to bottom, #585857 0%, #2d292a 50%, #231f20 100%);
}

.swiper-account-angle {
  z-index: -1;
  border-left: 76px solid transparent;
  border-right: 76px solid transparent;
  border-top: 35px solid #231f20;
}

.swiper-account-box {
  background: linear-gradient(
    to bottom,
    #565655 10%,
    #373435 50%,
    #323030 100%
  );
}

.account-swiper-carousel .swiper-slide-next {
  transform: translate3d(0px, 0px, -354px) rotateX(0deg) rotateY(0deg) scale(1) !important;
}

.account-swiper-carousel .swiper-slide-prev {
  transform: translate3d(0px, 0px, -354px) rotateX(0deg) rotateY(0deg) scale(1) !important;
}

.account-swiper-carousel .swiper-button-next,
.account-swiper-carousel .swiper-button-prev {
  background: linear-gradient(to right, #585857 0%, #2d292a 100%);
  width: 44px;
  height: 44px;
}

.account-swiper-carousel .swiper-button-next svg,
.account-swiper-carousel .swiper-button-prev svg {
  width: 20px;
}

.account-swiper-carousel .swiper-button-next::after,
.account-swiper-carousel .swiper-button-prev::after {
  display: none !important;
}

.satisfaction-tabs [data-slot="tabWrapper"] {
  display: flex !important;
  justify-content: center !important;
}

.satisfaction-tabs [data-slot="tabList"] {
  background-color: transparent;
  border: 1px solid #e4e5e6;
  padding: 20px 14px;
  border-radius: 24px;
  min-height: 300px;
  flex-direction: column;
  justify-content: center;
}

.satisfaction-tabs [data-slot="tab"] {
  font-size: 16px;
}

.satisfaction-tabs [data-slot="tabContent"] {
  color: #fff;
}

.satisfaction-tabs [data-slot="cursor"] {
  border-radius: 100px;
}
.phone-number-input .PhoneInputCountrySelect {
  background-color: #fff;
  border: none;
  outline: none;
}
.PhoneInputInput {
  border-radius: 3px;
  color: #3f3f3e;
  outline: none;
  border: none;
  padding: 8px 16px;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #f9c617;
  border-radius: 50%;
  width: 20px;
  margin: 0 auto;
  height: 20px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.academy_phoneinput {
  border-bottom: 1px solid #e4e5e6;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}

.hidden {
  display: none;
}
#r9 {
  overflow: visible !important;
}
